@model AppointmentBookSystem.tbl_User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Role_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Role_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
