@model AppointmentBookSystem.tbl_Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Patient_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Password)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Patient_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
